:root{
    --color-white-100: #FFFFFF;
    --color-white-400: #F2F9FF;

    --color-gray-500: #959A9D;
    --color-gray-700: #4B5258;

    --color-blue-100: #F2F9FF;
    --color-blue-200: #43AAFF;

    --color-green-400:#20FF87;
    --color-green-600:#7AD06D;

    --color-yellow-400: #FFC24D;
}